.cRI{
    width: 30vw;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.vv{
    text-decoration: none;
}
.imgRI{
    height: 200px;
    background-size: cover;
}
.Rs{
    color: blue;
}
.Rhead{
    font-family: roboto;
    font-size: 28px;
    color: black;
    text-decoration: none;
}
.Rpara{
    font-family: roboto;
    font-size: 18px;
    color: black;
    text-decoration: none;
}